:root {
    --main-title-color: #2E2F42; 
    --first-color:  #FFFFFF;
    --accent-color: #4D5AE5;
    --sekondary-font:Raleway, sans-serif;
    --focus-color: #404BBF;
    --contact-color: #434455;
    --btn-color: #4D5AE5;
    --second-foot-color:#2e2f42;
    --third-color:#E7E9FC;
    --logo-color:#F4F4FD;
    --hiro-color:#0a0b23;}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;}

ul {margin-top:0;
    margin-bottom: 0;
    margin-left: 0;
    }
.cotainer{ 
    width: 1158px;
    margin-left: auto;
    margin-right: auto;}    
img{
        display: block;}

.list {
    list-style: none;}

.link {
    text-decoration: none;}

body {
    font-family: 'Roboto', sans-serif;

    background-color: var(--first-color);}

.btn {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;}

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; }

.description {
    
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.subject {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;}

.logo {
    font-family: Raleway, sans-serif; 
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

address{ 
    font-style:normal; 
    align-items: center;
    margin-left: auto;}
.page-nav{
          display: flex;
          align-items: center;}    
/* -----------------------------header------------------------------------ */
.page-header{
    padding-top: 24px;
padding-bottom:24px;}


.header-logo {
    color:var(--accent-color);
    margin-right:76px;
    }

.header-logo span {

    color: var(--main-title-color);}
.menu-list{
    display: flex;
    align-items: center;}
.menu-list :not(:last-child){
        margin-right: 40px;}
    

.menu-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);}

.menu-link:hover,
.menu-link:focus {
    color: var(--focus-color);}



.adres-list{ 
    margin-left: auto;
    display: flex;
    align-items: center;}

.meil-link {
    font-family: 'Roboto';
    font-style: normal;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    cursor:auto;
    margin-right:40px;}
    
  
      
.adres{
    margin-left: auto;
}
   
.meil-link:hover,
.meil-link:focus {
    color: var(--focus-color);
}

.tel {font-family: 'Roboto';
    font-style: normal;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    cursor: auto;}

.page-header-coteiner {
    display: flex;
    align-items: center;
 }  
   
    

/*---------------------------Effective Solutions for Your Business ----------------------------------------------------------*/ 
.hirol-tiatl {
   
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-color);
    text-align:center;}

.hirol {
    background-color: var(--hiro-color);
    color: var(--first-color);}

.hirol-cotainer{
    text-align: center;}

.hirol-btn {
    width: 200px;
    height: 50px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--first-color);
    background-color:var(--btn-color);}

.hirol-btn:hover,
.hirol-btn:focus {
    color: var(--first-color);
    background-color:var(--focus-color)}


/* ----------------------------------principes.principes-subject ------------------------------ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.principes-description {
    color: var(--contact-color);}

.principes-subject-description{
    display: flex;


}
/* ----------------------------What are we doing------------------------------------------- */
.doing {
    margin-bottom: 120px;}
.doing-title {
    color: var(--main-title-color);
    margin-bottom: 72px;
    text-align:center;}

.doing-list{
    display: flex;
    gap: 24px;
    flex-basis: calk((100%-48px)/3);}
/* ---------------------------------Our Team -------------------------------------------------*/
.tem {
    background-color: var(--logo-color);
    padding-top: 124px;
    padding-bottom: 116px;}
.tem-titel {
   color: var(--main-title-color);
   text-align:center;}

.tem-subject {
    color: var(--main-title-color);
    margin-bottom: 8px;}

.tem-description {
    color: var(--contact-color);}

.tem-list{
    display: flex;
    gap: 24px;
    flex-basis: calk((100%-48px)/3);}

.tem-description-item{
    padding: 32px;}



/*---------------------------------------------- footer.------------------------------------ */

.footer-logo {
color: var(--btn-color);
margin-top: 100px;
margin-bottom: 16px;
margin-left: 156px;}

.footer-second-logo {
    color: var(--logo-color);}

.footer-description {
    color:var(--third-color);}

.footer {
    background-color: var(--second-foot-color);}

.footer-description{
    width: 264px;
    height: 72px;
    margin-top: 16px;
    margin-left: 156px;}
/* -----------------------------------------header portfolio--------------------------------------- */


.header-logo {
    color: var(--btn-color);}

.header-second-logo {
    color: var(--main-title-color);}

.menu-link {
    
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);}

.menu-link:hover,
.menu-link:focus {
    color: var(--focus-color);}

.meil-link {
   
    font-style: normal;
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-color);}

.meil-link:hover,
.meil:focus {
    color: var(--focus-color);}

.tel-link {
   
    font-style: normal;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-color);}

/* -----------------------------------------------button------------------------------------------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.navegetion-btn {
     color: var(--btn-color);
    background-color: var(--first-color);}

.navegetion-btn:hover,
.navegetion-btn:focus {
    color: var(--first-color);
    background-color: var(--focus-color);}

.navegetion-list {
    display:flex;
    align-items: center;} 
.navegetion-list :not(:last-child){
    margin-right: 24px;
   justify-content: space-between;}   
/* ---------------------------------imagis--------------------------------------------------------- */
.images-title visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.images-subject {
    color: var(--main-title-color);}

.images-description {
    color: var(--contact-color);}

.images-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center; }

.image-item{
    margin-bottom: 48px;
    width: calk((100%-48px)/3);
    justify-content: space-between;}

/* ----------------------------------footer portfolio--------------------------------------------------- */
.footer-logo {
    color: var(--btn-color);}

.footer-second-logo {
    color: var(--logo-color);}

.footer-description {
    color: var(--third-color);}

.footer {
    background-color: var(--main-title-color);}